@model Seminarski_Rad.Models.Proizvod

<h1>Detalji proizvoda</h1>

<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Količina)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Količina)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cijena)
        </dd>

    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Izmijeni</a> |
    <a asp-action="Index">Nazad na popis</a>
</div>