@model IEnumerable<KategorijaProizvoda>

<h1>Kategorije za proizvod @Model.FirstOrDefault()?.ProizvodNaziv</h1>
<p>
    <a asp-action="Create" asp-route-proizvodID=@ViewBag.ProductId>
        Dodaj novu kategoriju za ovaj proizvod
    </a>
</p>

<hr />

<table class="table">  
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.KategorijaNaziv</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" asp-route-proizvodID="@item.ProizvodId">Edit</a> |
                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" data-item-id="@item.Id">Izbriši</a>
                    </td>
                </tr>
        }
    </tbody>

</table>

<a asp-controller="Proizvod" asp-action="Index">Nazad na popis proizvoda</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Brisanje</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Jeste li sigurni za brisanje ove stavke?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
                <button type="button" class="btn btn-primary" onclick="confirmDelete()">Izbriši</button>
            </div>
        </div>
    </div>
</div>

<!--Kod za Redirectanje na Delete Controller-->

@section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>

            var deleteItemId = null; 

            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); 
                deleteItemId = button.data('item-id'); 
            });

            $('#exampleModal').on('hidden.bs.modal', function () {
                deleteItemId = null;
            });

            function confirmDelete() {
                if (deleteItemId !== null) {
                    window.location.href = '/Admin/KategorijaProizvoda/Delete?id=' + deleteItemId;
                }
            }
        </script>
}